PORT=4000
NODE_ENV=development

DB_HOST=gateway01.ap-northeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=3HY2YmsH2gzgrtW.root
DB_PASSWORD=W2NibzWOzRQOvXJd
DB_NAME=academic_light

DB_ENABLE_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=true

JWT_SECRET=academic_light_secret_2026
CORS_ORIGIN=